@page "{id:int?}"
@model cargolinq.Pages.Trucks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Freight Truck</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.DriverName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.DriverName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.TruckModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.TruckModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Truck.TruckMileage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Truck.TruckMileage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Truck.Id">Edit</a> |
    <a asp-page="./index">Back to List</a>
</div>